.App {
  height: 100vh;
  width: 100%;
}

.Time {
  font-size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 90vh;
  align-items: center;
}

.Time p {
  margin-top: 150px;
}

.Controls {
  text-align: center;
  padding-bottom: 20px;
}
.Controls button {
  font-size: 40px;
  background: none;
  border: 1px solid #02c610;
  padding: 0 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
  margin-top: 6px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(1000%) saturate(99999999999999999000000000%)
    hue-rotate(134deg) brightness(100%) contrast(100%);
}
.Controls input {
  font-size: 39px;
  background: none;
  border-radius: 5px;
  border: 1px solid #02c610;
  padding: 0 10px 4px;
  margin-top: 1px;
}

.Controls button:hover {
  background-color: #02c610;
  color: black;
}

@media screen and (max-width: 1300px) {
  .Time {
    font-size: 150px;
    min-height: 75vh;
  }
}

@media screen and (max-width: 960px) {
  .Time {
    font-size: 100px;
  }
}
