@font-face {
  font-family: 'ParimatchBold';
  src: url('./assets/fonts/ParimatchBold.eot');
  src: url('./assets/fonts/ParimatchBold.eot') format('embedded-opentype'),
    url('./assets/fonts/ParimatchBold.woff2') format('woff2'),
    url('./assets/fonts/ParimatchBold.woff') format('woff'),
    url('./assets/fonts/ParimatchBold.ttf') format('truetype'),
    url('./assets/fonts/ParimatchBold.svg#ParimatchBold') format('svg');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/Фон\ для\ таймера.png') center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'ParimatchBold';
  color: #02c610;
  box-sizing: border-box;
}
